{%extends "base.html"%}
{%block head_title%}
  <title>{{page.title}} -- {{config['title']}}</title>
{%endblock head_title%}

{%block body_content%}
  <h1>{{page.title}} -- {{config['title']}}</h1>

  <p>By {{', '.join(page.author)}}</p>
  <p>Created: {{page.date(page.cts, 'date')}}</p>
  {%if page.mtimestamp != 0.0%}
    <p>Modified: {{page.date(page.mts, 'date')}}</p>
  {%endif%}

  {{page.content}}

  {%import "tag_list.html" as tag_list%}
  {{tag_list.print(page.tags, config['tags_prefix'])}}
{%endblock body_content%}
